@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  outline: none;
}

.ProseMirror p {
  margin: 0 0 0.5rem 0;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

.ProseMirror h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.ProseMirror h3 {
  font-size: 1.05rem;
  font-weight: 600;
}
